<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="activitypub, federated blogging, federated social web">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/header' %>

    <div class="container">

      <!-- Devise flash messages-->
      <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% end %>

      <div class="row">
        <% if content_for?(:main) %>
          <%= yield(:main) %>
        <% else %>
          <div class="col-sm-8 blog-main">
            <%= yield %>
          </div>
          <%= render 'shared/sidebar' %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
